@model Research.Models.Event

@{
    ViewBag.Title = "AddUserToEvent";
    Layout = "~/Views/Shared/_ULayout.cshtml";
}

<h2>AddUserToEvent</h2>


<form method="post" action="/Events/AddUserEvent">
    <fieldset>
        <legend>Add User To Event</legend>
        <div>
            <label for="CompanyName">Event Id:</label>
            <input type="text" name="eventID" value="@Model.EventID" />
        </div>
        <div>
            <label for="ContactName">User Id:</label>
            <input type="text" name="userName" value="" />
        </div>
           <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit"  />
        </div>
    </fieldset>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
